
MainScreen > Middle {
       height: 100%;
       border: solid red;
       margin: 0 0;
       padding: 0 0;
       border: tall $background

}

Center {
}

Vertical {
	 content-align: center middle;
}

Horizontal {
	   content-align: center middle;
}

Vertical > Horizontal > Input {
      height: auto;
      width: 1fr;
      content-align: center middle;
      margin: 0 1;
}

Vertical > Static {
      height: 5;
      width: 100%;
      content-align: center middle;
}

CountryGrid {
	    grid-size: 2;
	    margin: 0 2;
	    grid-rows: auto;
	    height: auto;
}

VerticalScroll {
	       height: 6fr;
}

CountryCard {
				    margin: 0 1;
	    padding: 1 1;	    
	    background: $panel-darken-2
	    
}